{% extends 'base-not-logged.html.twig.' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 fw-normal">{{ title }}</h1><hr />
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <a href="{{ path('app_login') }}">Connectez moi</a>

{% endblock %}